@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 210 10% 25%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 10%;
    --primary: 210 40% 10%;
    --primary-foreground: 0 0% 98%;
    --main: 175 100% 26%;
    --main-foreground: 0 0% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 210 10% 15%;
    --muted: 210 10% 20%;
    --muted-foreground: 210 10% 60%;
    --accent: 210 10% 20%;
    --accent-foreground: 210 10% 15%;
    --destructive: 0 84% 60%;
    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 210 10% 70%;
    --chart-1: 41 100% 50%;
    --chart-2: 184 100% 50%;
    --chart-3: 227 100% 50%;
    --chart-4: 84 100% 50%;
    --chart-5: 70 100% 50%;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 210 10% 10%;
    --sidebar-primary: 210 10% 15%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 10% 97%;
    --sidebar-accent-foreground: 210 10% 15%;
    --sidebar-border: 210 10% 90%;
    --sidebar-ring: 210 10% 70%;
  }

  .dark {
    --background: 210 10% 10%;
    --foreground: 0 0% 98%;
    --card: 210 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 210 10% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 10% 90%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 20%;
    --muted-foreground: 210 10% 70%;
    --accent: 210 10% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 210 10% 60%;
    --chart-1: 264 100% 50%;
    --chart-2: 162 100% 50%;
    --chart-3: 70 100% 50%;
    --chart-4: 303 100% 50%;
    --chart-5: 16 100% 50%;
    --sidebar: 210 10% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 264 100% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 210 10% 60%;
  }

  * {
    @apply border-[var(--border)] outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}
